{% extends 'HomePage.html.twig' %}
{% block body %}
<div id="content-container" class="scrollable">
	{% include 'vues/ContentHeader.html.twig' with {'controller_name' : 'event.create.title'|trans } %}
	<div class="subcontainer scrollbar">
		{{ form_start(form) }}
		<div class="form-group">
			<label for="event_name">{% trans %}event.form.name{% endtrans %}</label>
			{{ form_widget(form.name) }}
		</div>
		<div class="form-group">
			<label for="event_description">{% trans %}event.form.description{% endtrans %}</label>
			{{ form_widget(form.description) }}
		</div>
		<div class="form-group">
			<label for="event_location">{% trans %}event.form.location{% endtrans %}</label>
			{{ form_widget(form.location) }}
		</div>
		<div class="form-group">
			<label for="event_date">{% trans %}event.form.date{% endtrans %}</label>
			{{ form_widget(form.date) }}
		</div>
		<div class="form-group">
			<label for="event_date">{% trans %}event.form.endDate{% endtrans %}</label>
			{{ form_widget(form.endDate) }}
		</div>
		<div class="form-group">
			<label for="nbParticipant">{% trans %}event.form.number{% endtrans %}</label>
			{{ form_widget(form.nbParticipant) }}
		</div>
		<div class="form-group">
			<label for="tags">{% trans %}event.form.tag{% endtrans %}</label>
			{{ form_widget(form.tags) }}
		</div>
		<div class="form-group">
			<label for="event_image">{% trans %}event.form.image{% endtrans %}</label>
			{{ form_widget(form.imageFile) }}
			<img id="image_output" src="{{ asset('uploads/images/events/' ~ image) }}" />
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">
				{% trans %}button.save{% endtrans %}
			</button>
		</div>
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}