{% extends 'HomePage.html.twig' %} {% block body %}
<div id="content-container" class="scrollable">
    <div class="subcontainer scrollbar">
        <h1>
            {{ event.name }}
        </h1>
        <h5>
            Le {{ event.date|format_datetime('full', 'none', locale = 'fr') }}
        </h5>
        <p>
            {{ event.nbParticipant }} Personnes
        </p>
        <a href="{{ asset('uploads/images/events/' ~ event.image) }}" data-toggle="lightbox">
            <div class="event-img" style="background-image: url({{ asset('uploads/images/events/' ~ event.image) }});"></div>
        </a>
        <div id="event-{{ event.id }}">
            <div class="form-group event-view-action" style="margin-bottom: 0 !important;">
                {% set trouve = false %} {% for participant in event.participations %} {% if app.user.id == participant.user.id %}
                <button type="button" onclick="onClickBtnGoToEvent('{{
            path(
              'event_goto',
              {
                eventId: event.id
              }
            )
            }}', '{{ event.id }}');" class="btn btn-danger">
          <i class="fas fa-times"></i>
          Ne plus participer
        </button> {% set trouve = true %}{% endif %}{% endfor %}{% if trouve == false %}
                <button type="button" onclick="onClickBtnGoToEvent('{{
            path(
              'event_goto',
              {
                eventId: event.id
              }
            )
            }}', '{{ event.id }}');" class="btn btn-warning">
          <i class="fas fa-arrow-right"></i>
          Participer
        </button> {% endif %} {% if event.idCreator == app.user.id %}
                <button type="button" onclick="window.location = '/event/{{ event.id }}/modify';" class="btn btn-info btn-round">
          <i class="fas fa-pen"></i>
        </button>
                <button type="button" class="btn btn-danger btn-round" data-toggle="modal" data-target="#dialogModalSupp">
          <i class="fas fa-times"></i>
        </button> {% endif %}
            </div>
        </div>
        <p>
            {{ event.description }}
        </p>
        <br /><br />
    </div>
</div>
{% include 'vues/ModalDialogSupp.html.twig' %} {% endblock %}{% block javascripts %} {% endblock %}