<div id="community-{{ community.id }}">
    <div class="list-card noselect">
        <div class="list-card-image-container">
            <img class="list-card-image-container-img" src="{{ asset('build/wejdene.jpg') }}" />
            <p class="list-card-image-container-img-name truncate">
                {{ community.name }}
            </p>
        </div>
        <div class="list-card-button-container">
            {% set trouve = false %} {% for participant in community.isincommunity %} {% if app.user.id == participant.user.id %}
            <button type="button" onclick="onClickBtnGoToCommunity('{{path('community_goto',{communityId: community.id})}}', 'community-{{ community.id }}')" class="btn btn-outline-danger btn-round list-card-button">
                <i class="fas fa-times"></i>
            </button> {% set trouve = true %} {% endif %} {% endfor %} {% if trouve == false %}
            <button type="button" onclick="onClickBtnGoToCommunity('{{path('community_goto',{communityId: community.id})}}', 'community-{{ community.id }}')" class="btn btn-outline-warning btn-round list-card-button">
                <i class="fas fa-plus"></i>
            </button> {% endif %}
        </div>
    </div>
</div>