<div class="event-card" onclick="window.location = '/event/{{ event[0].id }}/view';" style="background-image: url({{ asset('uploads/images/events/' ~ event[0].image) }});background-size: cover;">
    <div class="avatar-container">
        <img class="avatar-img" src="{{ asset('uploads/images/users/' ~ event.image) }}" width="45px" height="45px" />
        <p class="avatar-user-name">
            {{ event.pseudo }}
        </p>
        <span class="avatar-date">
            {{ event[0].getDateCreation|date('d/m/Y') }}
        </span>
    </div>
    <div class="event-card-footer">
        <div class="col">
            <div class="event-card-title-container">
                <div class="event-card-title">
                    {{ event[0].name|length > 50 ? event[0].name|slice(0, 50) ~ '...' : event[0].name }}
                </div>
            </div>
        </div>
        <div class="row no-height-row">
            <div class="col-lg-4">
                <div class="event-card-info-container">
                    <div class="event-card-info-subcontainer">
                        <i class="event-card-info-icon fas fa-compass"></i> {{ event[0].location }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="event-card-info-container">
                    <div class="event-card-info-subcontainer">
                        <i class="event-card-info-icon fas fa-calendar-week"></i> {{ event[0].date|date('d/m/Y') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>