{% extends 'HomePage.html.twig' %}

{% block body %}
	<div id="content-container" class="scrollable">
		{% include 'vues/ContentHeader.html.twig' with {'controller_name' : 'controllerName.userpage'|trans } %}
		<div class="subcontainer scrollbar">
			<div class="user-info-container">
				<div class="user-info-avatar-container">
					<a href="{{ asset('uploads/images/users/' ~ user.image) }}" data-toggle="lightbox">
						<div class="avatar-img" style="background-image: url({{ asset('uploads/images/users/' ~ user.image) }});"></div>
					</a>
					{% if user == app.user %}
						<button class="btn btn-light btn-round btn-modif-user" onclick="window.location = '/user/modify'">
							<i class="fas fa-pen"></i>
						</button>
					{% endif %}
				</div>
				<h4 class="text-center display-4">{{ user.pseudo }}</h4>
				<p class="text-center">{{ user.city }}</p>
				<div class="user-info-counter row no-height-row">
					<div class="col-lg noselect" onclick="window.location = '/friend/{{ user.id }}/view';">
						<h5>{% trans %}user.counter.friends{% endtrans %}</h4>
						<h6>{{  user.friendship | filter(v => v.validate == true) | length }}</h5>
					</div>
					<div class="col-lg noselect">
						<h5>{% trans %}user.counter.events{% endtrans %}</h4>
						<h6>{{  user.event | length   }}</h5>
					</div>
					<div class="col-lg noselect" onclick="window.location = '/community/{{ user.id }}/view';">
						<h5>{% trans %}user.counter.community{% endtrans %}</h4>
						<h6>{{  user.getCommunity | length   }}</h5>
					</div>
				</div>
			</div>

			<div class="search-container">
				<h4 class="font-weight-bold">
					{% trans %}controllerName.event{% endtrans %}
				</h4>
				{% if user.event is empty %}
					<h6 class="text-muted centered-message">
						<i class="fas fa-hotdog"></i>
						{% trans %}message.nocontent{% endtrans %}</h6>
				{% else %}
					{% for participation in user.event | sort((b, a) => a.getDate <=> b.getDate) | slice(0, 3) %}
						{% set event = participation.getEvent %}
						{% include ('vues/EventCardThin.html.twig') %}
					{% endfor %}
					{% if user.event | length > 3 %}
						<button onclick="window.location = '/event'" class="show-more-button">
							{% trans %}rightcol.showmore{% endtrans %}
						</button>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
